/* Ogólne ustawienia */
body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif; /* Ustawienie czcionki Poppins */
    background: #dcdcdce4;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.login-container {
    width: 100%;
    max-width: 400px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    padding: 40px;
}

/* Nagłówek */
h2 {
    text-align: center;
    color: #333;
    margin-bottom: 30px;
    font-size: 24px;
}

/* Inputy */
.input-group {
    margin-bottom: 20px;
}

.input-group input {
    width: 100%;
    padding: 15px 20px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 30px;
    box-sizing: border-box;
    outline: none;
    transition: box-shadow 0.3s, border-color 0.3s;
    background: #f8f8f8;
}

.input-group input:focus {
    border-color: #0072ff;
    box-shadow: 0 0 8px rgba(0, 114, 255, 0.2);
}

/* Przycisk */
.btn {
    width: 100%;
    padding: 15px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #000;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.btn:hover {
    background-color: #333;
    transform: scale(1.05);
}

/* Link do rejestracji */
p {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: #666;
}

p a {
    color: #0072ff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

p a:hover {
    color: #005fcc;
}
